/vendor
/node_modules
/storage/logs
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views

# Archivos de entorno
.env
.env.*
.env.backup

# Archivos del host
.git
.gitignore
.github
.idea
.vscode

# Cachés
npm-debug.log
yarn-error.log
composer.lock

# Archivos del sistema
.DS_Store
Thumbs.db

# Tests
phpunit.xml
tests/
